@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@theme {
  /*Size */
  --text-mobile-h1: 35px;
  --text-mobile-h2: 20px;
  --text-mobile-h3: 18px;
  --text-mobile-h4: 14px;
  --text-mobile-p: 12px;
  --text-mobile-cta: 14px;

  --text-computer-h1: 100px;
  --text-computer-h2: 40px;
  --text-computer-h3: 24px;
  --text-computer-h4: 18px;
  --text-computer-p: 14px;
  --text-computer-cta: 20px;

  /*Typografi */
  --font-heading: "Unbounded", sans-serif;
  --font-body: "inter", sans-serif;

  /* Colours */
  --color-orange-primary: #ff5900;
  --color-orange-secondary: #ff6716;

  --color-green-primary: #194246;
  --color-green-secondary: #3a6666;
}
/* Her tilføjes theme variable // tokens */

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components {
}
@layer utilities {
}
