---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Sektion3 from "../components/Sektion3.astro";
import Sektion8 from "../components/Sektion8.astro";
import Reviews from "../components/Reviews.astro";
import Oplevelser from "../components/Oplevelser.astro";
import Instagram from "../components/Instagram.astro";
import Sektion1 from "../components/Sektion1.astro";
import Sektion6 from "../components/Sektion6.astro";
import Sektion7 from "../components/Sektion7.astro";
import Sektion9 from "../components/Sektion9.astro";
---

<MainLayout title="HöjskolenDK">
  <section>
    <Sektion1 />
    <Reviews />
    <Sektion3 />
    <Sektion6 />
    <Sektion7 />
    <Oplevelser />
    <Instagram />
    <Sektion8 />
    <Sektion9 />
  </section></MainLayout
>
