---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Sektion3 from "../components/Sektion3.astro";
import Sektion8 from "../components/Sektion8.astro";
import Reviews from "../components/Reviews.astro";
import Oplevelser from "../components/Oplevelser.astro";
import Instagram from "../components/Instagram.astro";
---

<MainLayout title="Titel">
  <section>
    <Reviews />
    <Sektion3 />
    <Oplevelser />
    <Instagram />
    <Sektion8 />
  </section></MainLayout
>
