---
// Henter parametrene fra Astro.props
const { variant = "primary", size = "small" } = Astro.props;

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper)
const buttonStyling = "border-1 px-7 py-3 font-heading uppercase hover:shadow-xl rounded-full";

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
  primary: "bg-orange-primary text-white hover:bg-orange-secondary hover:text-white mt-5",
  secondary: "bg-green-secondary text-white hover:bg-green-primary hover:text-white mt-5",
  third: "border-white text-white hover:bg-green-secondary hover:text-white mt-5",
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
  large: "lg:text-computer-cta text-mobile-cta",
  small: "lg:text-computer-cta text-mobile-cta",
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot /></button>
