---
import Nav from "./Nav.astro";
const hasContentBelowNav = Astro.slots.has("default");
import Heading from "./Heading.astro";
import Herocards from "./Herocards.astro";
---

<section
  class="relative lg:mt-0 w-auto
         h-[830px] md:h-[800px] /* samma känsla på mobil/desktop */
         bg-[url('/hero.png')]
         bg-cover bg-no-repeat
         bg-[center_35%] md:bg-[center_55%] /* styr fokuspunkt mobil vs desktop */
         overflow-hidden pb-20"
>
  <!-- Navigation -->

  <section class="relative flex flex-col z-20">
    <Nav />
    {
      hasContentBelowNav && (
        <div class="flex flex-col">
          <slot />
        </div>
      )
    }
  </section>
  <!-- Innehållslager ovanpå bakgrunden -->
  <div class="absolute inset-0 z-10">
    <div class="mx-auto max-w-[1200px] px-4">
      <!-- Rubriker -->
      <div class="pt-45 md:pt-42 ml-10 text-white">
        <Heading htmlheading="h1" size="xlarge" font="display" transform="uppercase">
          Højskole <br /> i Udlandet
        </Heading>
      </div>

      <div class="mt-3 md:mt-4 ml-10 text-white">
        <Heading htmlheading="h3" size="medium" font="display"> Eventyrlige højskoleophold i udlandet for unge. </Heading>
      </div>

      <!-- hero-cards -->
      <div class="mt-8 md:mt-10 lg:ml-0 ml-8">
        <Herocards />
      </div>
    </div>
  </div>
</section>
