---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
import Button from "./Button.astro";
---

<section class="lg:grid grid-cols-12 gap-15">
  <div class="col-span-7">
    <img src="/public/dykkebilde.png" class="rounded-3xl" alt="" />
  </div>
  <article class="col-span-5 mt-13">
    <div class="lg:mb-13 mb-7">
      <Heading
        htmlheading="h2"
        size="large"
        font="display"
        transform="uppercase">GLEM JAGTEN PÅ LYKKE</Heading
      >
    </div>
    <div class="">
      <Text
        >Hvordan kan det være at flere mennesker end nogensinde oplever stress,
        angst, depression, ensomhed, m.v. når vi lever i en tid med mere
        velstand, flere muligheder og et højere uddannelsesniveau end nogensinde
        før?
      </Text>
      <Text
        >Antallet af unge der bliver diagnosticeret med angst og stress er
        tredoblet de sidste 10 år og aldrig før har så mange unge følt sig
        fortvivlede, ensomme, triste, usikre og forvirrede og det er der mange
        grunde til. Én af dem er jeg sikker på handler om ”jagten på lykke” og
        ”det perfekte liv”. Og jeg er overbevist om at hamsterhjuls-lykke-racet
        ikke er løsningen og at vi i stedet skal forsøge at leve et meningsfuldt
        liv.
      </Text>
    </div>
    <div class="mt-1">
      <Button variant="secondary">LÆS MERE</Button>
    </div>
  </article>
</section>
