---
// Henter parametrene fra Astro.props
const { teksttype = "brødtekst", styling = "regular" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  brødtekst: "lg:text-computer-p text-mobile-p",
};

const stylingClasses = {
  regular: "font-regular font-body mb-3",
};
---

<p class:list={[sizeClasses[teksttype], stylingClasses[styling]]}><slot /></p>
